# ignore everything
*

# folders to include
!assets
!assets/**
!include/
!include/**
!resources/
!resources/**
!scripts/
!scripts/**
!src/
!src/**
!.vscode/
!.vscode/**

# files to include
!.gitattributes
!.gitignore
!.code-workspace
!CMakeLists.txt
!*.cmake
!openocd.cfg
